.thirdSlide-left{
    background: url('./left.png') center/cover;
}
.thirdSlide-right{
    background:  url('./right.png')center/cover;
}
.thirdSlide-square{
    background: #FFFFFF;
}
.thirdSlide-h1{
    font-style: normal;
    color: #FFFFFF;
}
.thirdSlide-p{
    font-style: normal;
    color: #FFFFFF;
}

@media (max-width: 576px){
    .thirdSlide-left,.thirdSlide-right{
        height: 412px;
        margin-right: 30px;
        position: relative;
    }
    .thirdSlide-square{
        width: 19px;
        height: 19px;
        position: absolute;
        top: 213px;
        left: 18px;
    }
    .thirdSlide-plus{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 20px;
        right: 16px;
    }
    .thirdSlide-cont{
        margin-top: 243px;
        margin-left: 48px;
        
    }
    .thirdSlide-h1{
        font-weight: 900;
        font-size: 19px;
        line-height: 120.69%;
        margin-bottom: 14px;
    }
    .thirdSlide-p{
        font-weight: normal;
        font-size: 13px;
        line-height: 135.69%;
    }
}
@media (min-width: 576px){
    .thirdSlide-left,.thirdSlide-right{
        height: 418px;
        margin-right: 30px;
        position: relative;
    }
    .thirdSlide-square{
        width: 22.65px;
        height: 22.65px;
        position: absolute;
        top: 223px;
        left: 48px;
    }
    .thirdSlide-plus{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 29px;
        right: 32.5px;
    }
    .thirdSlide-cont{
        margin-top: 253px;
        margin-left: 85.66px;
        
    }
    .thirdSlide-h1{
        font-weight: 900;
        font-size: 27px;
        line-height: 120.69%;
    }
    .thirdSlide-p{
        font-weight: normal;
        font-size: 16px;
        line-height: 135.69%;
        
    }
}
@media (min-width: 768px){
    .thirdSlide-left,.thirdSlide-right{
        height: 425px;
        position: relative;
    }
    .thirdSlide-cont{
        margin-top: 257px;
        margin-left: 87px;
        
    }
    .thirdSlide-h1{
        font-weight: 900;
        font-size: 27px;
        line-height: 120.69%;
        margin-bottom: 5px;
    }
    .thirdSlide-p{
        font-weight: normal;
        font-size: 16px;
        line-height: 135.69%;
    }
    .thirdSlide-plus{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 30px;
        right: 33px;
    }
    .thirdSlide-square{
        width: 23px;
        height: 23px;
        position: absolute;
        top: 227px;
        left: 49px;
    }
}