.third{
    display: flex;
}
.third-left{
    background: url("./left.png") center/cover;
    box-shadow: 0px 15px 50px rgba(45, 47, 94, 0.3);
}
.third-right{
    background:  url('./right.png')center/cover;
    box-shadow: 0px 15px 50px rgba(45, 47, 94, 0.3);
}
.third-h1{
    font-style: normal;
    color: #FFFFFF;
}
.third-p{
    font-style: normal;
    color: #FFFFFF;
}

@media (min-width: 1200px){
    .third{
        display: flex;
    }
    .third-left,.third-right{
        width: 570px;
        height: 425px;
        position: relative;
    }
    .third-left{
        margin-right: 30px;
    }
    .third-square{
        width: 23px;
        height: 23px;
        background: #FFFFFF;
        position: absolute;
        top: 227px;
        left: 49px;
    }
    .third-plus{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 30px;
        left: 512px;
    }
    .third-cont{
        margin-top: 257px;
        margin-left: 87px;
    }
    .third-h1{
        font-weight: 900;
        font-size: 27px;
        line-height: 120.69%;
        margin-bottom: 5px;
    }
    .third-p{
        font-weight: normal;
        font-size: 16px;
        line-height: 135.69%;
    }
}