.third{
    display: flex;
}
.left{
    background: url("./left.png") center/cover;
    box-shadow: 0px 15px 50px rgba(45, 47, 94, 0.3);
}
.right{
    background:  url('./right.png')center/cover;
    box-shadow: 0px 15px 50px rgba(45, 47, 94, 0.3);
}
.h1{
    font-style: normal;
    color: #FFFFFF;
}
.p{
    font-style: normal;
    color: #FFFFFF;
}

@media (min-width: 1200px){
    .third{
        display: flex;
    }
    .left,.right{
        width: 570px;
        height: 425px;
        position: relative;
    }
    .left{
        margin-right: 30px;
    }
    .square{
        width: 23px;
        height: 23px;
        background: #FFFFFF;
        position: absolute;
        top: 227px;
        left: 49px;
    }
    .plus{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 30px;
        left: 512px;
    }
    .cont{
        margin-top: 257px;
        margin-left: 87px;
    }
    .h1{
        font-weight: 900;
        font-size: 27px;
        line-height: 120.69%;
        margin-bottom: 5px;
    }
    .p{
        font-weight: normal;
        font-size: 16px;
        line-height: 135.69%;
    }
}