
.h1{
    color: #2A2D46;
    font-style: normal;
    font-weight: 900;
}
.p{
    font-style: normal;
    font-weight: normal;
    color: #2A2D46;
}
.btn{
    background:  #EB2D66;
    border: none;
    font-style: normal;
    color: #FFFFFF;
}
.jurnal{
    background: url("./jurnal.png")center;
    display: flex;
}
.name,.desc,.price{
  font-style: normal;
  color: #FFFFFF;
}
.jurBack{
  background: rgba(49, 69, 255, 0.06);
}

@media (max-width: 576px) {
    .first{
      margin-top: 46px;
      position: relative;
    }
    .h1{
      width: 290px;
      font-weight: 900;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 24px;
    }
    .p{
      width: 290px;
      font-weight: normal;
      font-size: 14px;
      line-height: 148.9%;
      margin-bottom: 10px;
    }
    .btn{
      width: 244px;
      height: 57px;
      font-weight: 900;
      font-size: 14px;
      line-height: 148.9%;
      margin-bottom: 0px;
    }
    .jurnal{
      width: 290px;
      height: 397px;
      position: absolute;
      top: 346px;
    }
    .copter{
      width: 265px;
      height: 144px;
      position: absolute;
      top: 31px;
      left: 8px;
    }
    .white{
      width: 9px;
      height: 9px;
      background: #FFFFFF;
      position: absolute;
      top: 197px;
      left: 5px;
    }
    .thing{
      margin-top: 208px;
      margin-left: 23px;
    }
    .name{
      font-weight: 900;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    .desc{
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      width: 256px;
    }
    .price{
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
    }
    .jurBack{
      position: absolute;
      width: 318px;
      height: 464px;
      top: 314px;
    }
}
@media (min-width: 576px) {
  .first{
    margin-top: 46px;
    position: relative;
  }
  .h1{
    width: 290px;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .p{
    width: 290px;
    font-weight: normal;
    font-size: 14px;
    line-height: 148.9%;
    margin-bottom: 10px;
  }
  .btn{
    width: 244px;
    height: 57px;
    font-weight: 900;
    font-size: 14px;
    line-height: 148.9%;
    margin-bottom: 0px;
  }
  .jurnal{
    width: 290px;
    height: 397px;
    position: absolute;
    top: 346px;
  }
  .copter{
    width: 265px;
    height: 144px;
    position: absolute;
    top: 31px;
    left: 8px;
  }
  .white{
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    position: absolute;
    top: 197px;
    left: 5px;
  }
  .thing{
    margin-top: 208px;
    margin-left: 23px;
  }
  .name{
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .desc{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 256px;
  }
  .price{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
  }
  .jurBack{
    position: absolute;
    width: 318px;
    height: 464px;
    top: 314px;
  }
}

@media (min-width: 768px) {
  .first{
    margin-top: 97px;
    position: relative;
  }
  .h1{
    width: 738px;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 26px;
  }
  .p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    width: 738px;
  }
  .btn{
    box-shadow: 0px 7px 35px rgba(235, 45, 102, 0.35);
    width: 244px;
    height: 57px;
    font-weight: 900;
    font-size: 15px;
    line-height: 148.9%;
    margin-bottom: 0px;
  }
  .jurnal{
    width: 738px;
    height: 444px;
    position: absolute;
    top: 355px;
  }
  .white{
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    position: absolute;
    top: 253px;
    left: 512px;
  }
  .thing{
    margin-top: 264px;
    margin-left: 530px;
  }
  .name{
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
      }
  .desc{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
  .price{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
  }
  .copter{
    width: 687px;
    height: 374px;
    position: absolute;
     top: 31px;
     left: 8px;
   }
  .jurBack{
    position: absolute;
    top: 323px;
    left: -14px;
    width: 767px;
    height: 508px;
  }
}



@media (min-width: 1200px) {
  .first{
    display: flex;
    position: relative;
    margin: 0;
}
  .info{
    width: 443px;
    margin-top: 161px;
  }
  .h1{
    width: 443px;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 26px;
  }
  .p{
    width: 370px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .btn{
    box-shadow: 0px 7px 35px rgba(235, 45, 102, 0.35);
    width: 244px;
    height: 57px;
    font-size: 15px;
    line-height: 148.9%;
    font-weight: 900;
  }
  .jurnal{
    width: 650px;
    height: 444px;
    position: absolute;
    top: 74px;
    left: 694px;
  }
  .white{
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    position: absolute;
    top: 253px;
    left: 370px;
  }
  .thing{
    margin-top: 264px;
    margin-left: 388px;
  }
  .name{
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
      }
  .desc{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
  .price{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
  }
  .copter{
    width: 687px;
    height: 374px;
   position: absolute;
    top: 31px;
    left: -174px;
  }
  .jurBack{
    position: absolute;
    top: 42px;
    left: 764px;
    width: 685px;
    height: 508px;
  }
}