
.header-menu,.header-logo,.header,.header-buy{
    display: flex;
    align-items: center;
}
.header-nameH1{
    font-style: normal;
    font-weight: bold;
    color: #3145FF;
    
}
.header-nameP,.header-menuP{
    font-style: normal;
    font-weight: normal;
    color: #2A2D46;
    
}
.header-btn{
    border: 1px solid #EB2D66;
    box-sizing: border-box;
    background: none;
    color: #EB2D66;
    font-style: normal;
    
}
.header-btn:hover{
    background:#EB2D66;
    color: #ffffff;
}
.header-marketBtn{
    background: none;
    border: none;
}
.header-price{
    font-style: normal;
    color: #2A2D46;
}
.header-burgerBtn{
    background: none;
    border: none;
}
@media (max-width: 576px) {
    .header{
        margin-top: 38px;
        width: 100vw;
        height: 90px;
        position: relative;
    }
    .header-logo{
        position: absolute;
        width: 218px;
        top: 0px;
        left: 0px;
    }
    .header-name{
        margin-left: 13px;
    }
    .header-nameH1,.header-h1{
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
    }
    .header-nameH1{
        margin-bottom: 3px;
    }
    .header-nameP{
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
    }
    .header-h1{
        position: absolute;
        top: 66px;
        left: 0;
    }
    .header-menu,.header-btn{
        display: none;
    }
    .header-buy{
        position: absolute;
        top: 62px;
        right: 30px;
    }
    .header-marketBtn{
        margin-right: 15px;
    }
    .header-price{
        margin-right: 7px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
    .header-burgerBtn{
        position: absolute;
        top: 7px;
        right: 30px;
    }
  }
@media (min-width: 576px) {
    .header{
        margin-top: 38px;
    }
    .header-menu,.header-btn,.header-h1{
        display: none;
    }
    .header-name{
        margin-left: 13px;
        margin-right: 118px;
    }
    .header-nameH1{
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .header-nameP{
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
    }
    .header-buy{
        margin-right: 60px;
    }
    .header-price{
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-right: 6px;
    }
    .header-marketBtn{
        margin-right: 15px;
    }
    
  }
  
  @media (min-width: 768px) {
    .header{
        margin-top: 38px;
    }
    .header-menu,.header-btn{
        display: none;
    }
    .header-name{
        margin-left: 13px;
        margin-right: 70px;
    }
    .header-nameH1,.header-h1{
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .header-nameP{
        font-size: 11px;
        line-height: 13px;
    }
    .header-h1{
        display: block;
        margin-right: 77px;
    }
    .header-buy{
        margin-right: 89px;
    }
    .header-price{
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-right: 6px;
    }
    .header-marketBtn{
        margin-right: 15px;
    }
  }
  
  
  
  @media (min-width: 1200px) {
    .header{
        margin-top: 38px;
    }
    .header-logo{
        margin-right: 5px;
    }
    .header-nameH1,.header-h1{
        font-size: 13px;
        line-height: 16px;
    }
    .header-name{
        margin-left: 13px;
    }
    .header-nameH1{
        margin-bottom: 3px;
    }
    .header-nameP{
        font-size: 11px;
        line-height: 13px;
    }
    .header-menu{
        display: flex;
        width: 366px;
        margin-right: 49px;
    }
    .header-menuP{
        margin-right: 29px;
        font-size: 12px;
        line-height: 15px;
    }
    .header-h1{
        display: block;
        margin-right: 34px;
    }
    .header-btn{
        width: 130px;
        height: 30px;
        margin-right: 34px;
        display: block;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
    }
    .header-buy{
        margin: 0;
    }
    .header-marketBtn{
        margin-right: 15px;
    }
    .header-price{
        margin-right: 6px;
        font-weight: bold;
        font-size: 12px;
    }
    .header-burger{
        display: none;
    }
  }