
.menu,.logo,.header,.buy{
    display: flex;
    align-items: center;
}
.nameH1{
    font-style: normal;
    font-weight: bold;
    color: #3145FF;
    
}
.nameP,.menuP{
    font-style: normal;
    font-weight: normal;
    color: #2A2D46;
    
}
.btn{
    border: 1px solid #EB2D66;
    box-sizing: border-box;
    background: none;
    color: #EB2D66;
    font-style: normal;
    
}
.btn:hover{
    background:#EB2D66;
    color: #ffffff;
}
.marketBtn{
    background: none;
    border: none;
}
.price{
    font-style: normal;
    color: #2A2D46;
}
.burgerBtn{
    background: none;
    border: none;
}
@media (max-width: 576px) {
    .header{
        margin-top: 38px;
        width: 100vw;
        height: 90px;
        position: relative;
    }
    .logo{
        position: absolute;
        width: 218px;
        top: 0px;
        left: 0px;
    }
    .name{
        margin-left: 13px;
    }
    .nameH1,.h1{
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
    }
    .nameH1{
        margin-bottom: 3px;
    }
    .nameP{
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
    }
    .h1{
        position: absolute;
        top: 66px;
        left: 0;
    }
    .menu,.btn{
        display: none;
    }
    .buy{
        position: absolute;
        top: 62px;
        right: 30px;
    }
    .marketBtn{
        margin-right: 15px;
    }
    .price{
        margin-right: 7px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
    .burgerBtn{
        position: absolute;
        top: 7px;
        right: 30px;
    }
  }
@media (min-width: 576px) {
    .header{
        margin-top: 38px;
    }
    .menu,.btn,.h1{
        display: none;
    }
    .name{
        margin-left: 13px;
        margin-right: 118px;
    }
    .nameH1{
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .nameP{
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
    }
    .buy{
        margin-right: 60px;
    }
    .price{
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-right: 6px;
    }
    .marketBtn{
        margin-right: 15px;
    }
    
  }
  
  @media (min-width: 768px) {
    .header{
        margin-top: 38px;
    }
    .menu,.btn{
        display: none;
    }
    .name{
        margin-left: 13px;
        margin-right: 70px;
    }
    .nameH1,.h1{
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .nameP{
        font-size: 11px;
        line-height: 13px;
    }
    .h1{
        display: block;
        margin-right: 77px;
    }
    .buy{
        margin-right: 89px;
    }
    .price{
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-right: 6px;
    }
    .marketBtn{
        margin-right: 15px;
    }
  }
  
  
  
  @media (min-width: 1200px) {
    .header{
        margin-top: 38px;
    }
    .logo{
        margin-right: 5px;
    }
    .nameH1,.h1{
        font-size: 13px;
        line-height: 16px;
    }
    .name{
        margin-left: 13px;
    }
    .nameH1{
        margin-bottom: 3px;
    }
    .nameP{
        font-size: 11px;
        line-height: 13px;
    }
    .menu{
        display: flex;
        width: 366px;
        margin-right: 49px;
    }
    .menuP{
        margin-right: 29px;
        font-size: 12px;
        line-height: 15px;
    }
    .h1{
        display: block;
        margin-right: 34px;
    }
    .btn{
        width: 130px;
        height: 30px;
        margin-right: 34px;
        display: block;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
    }
    .buy{
        margin: 0;
    }
    .marketBtn{
        margin-right: 15px;
    }
    .price{
        margin-right: 6px;
        font-weight: bold;
        font-size: 12px;
    }
    .burger{
        display: none;
    }
  }