.footer{
    width: 100%;
    background: #343A62;
    margin-top: 63px;
}
.footer-logo,.footer-menu{
    display: flex;
    align-items: center;
}
.footer-name h1{
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
.footer-name p{
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.footer-menu p{
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.footer-h1{
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
.footer-btn{
    border: 1px solid #EB2D66;
    box-sizing: border-box;
    background: none;
    color: #EB2D66;
}
.footer-btn:hover{
    background:#EB2D66;
    color: #ffffff;
}
@media (max-width: 576px){
    .footer-main{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer{
        height: 330px;
    }
    
    .footer-logo{
        width: 218px;
        padding-top: 64px;
        margin-bottom: 37px;
        
    }
    .footer-name{
        text-align: left;
        margin-left: 13px;
    }
    .footer-name h1{
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
    }
    .footer-name p{
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
    }
    .footer-menu{
        margin-bottom: 31px;
    }
    .footer-menu p{
        font-size: 12px;
        line-height: 15px;
        margin-right: 8px;
    }
    .footer-arrow{
        display: none;
    }
    .footer-arrow1{
        position: absolute;
        top: 300px;
    }
    .footer-h1{
        width: 135px;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        margin-bottom: 34px;
        margin-right: 0px;
        
    }
    .footer-btn{
        width: 130px;
        height: 30px;
    }


}
@media (min-width: 576px){
    .footer-main{
        position: relative;
    }
    .footer{
        height: 330px;
    }
    
    .footer-logo{
        width: 218px;
        padding-top: 64px;
        margin-bottom: 37px;
    }
    .footer-name{
        margin-left: 13px;
    }
    .footer-name h1{
        font-size: 13px;
        line-height: 16px;
    }
    .footer-name p{
        font-size: 11px;
        line-height: 13px;
    }
    .footer-menu{
        margin-bottom: 31px;
    }
    .footer-menu p{
        font-size: 12px;
        line-height: 15px;
        margin-right: 29px;
    }
    .footer-arrow{
        display: none;
    }
    .footer-arrow1{
        position: absolute;
        top: 248px;
        right: 57px;
    }
    .footer-h1{
        width: 135px;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 34px;
    }
    .footer-btn{
        width: 130px;
        height: 30px;
    }


}
@media (min-width: 768px){
    .footer-main{
        position: relative;
    }
    .footer{
        height: 330px;
    }
    
    .footer-logo{
        width: 218px;
        padding-top: 64px;
        margin-bottom: 37px;
    }
    .footer-name{
        margin-left: 13px;
    }
    .footer-name h1{
        font-size: 13px;
        line-height: 16px;
    }
    .footer-name p{
        font-size: 11px;
        line-height: 13px;
    }
    .footer-menu{
        margin-bottom: 31px;
    }
    .footer-menu p{
        font-size: 12px;
        line-height: 15px;
        margin-right: 29px;
    }
    .footer-arrow{
        display: none;
    }
    .footer-arrow1{
        position: absolute;
        top: 248px;
        right: 57px;
    }
    .footer-h1{
        width: 135px;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 34px;
    }
    .footer-btn{
        width: 130px;
        height: 30px;
    }


}
@media (min-width: 1200px){
    .footer{
        height: 310px;
    }
    .footer-main{
        display: flex;
        align-items: center;
    }
    .footer-mar{
        padding-top: 127px;
    }
    .footer-logo{
        width: 218px;
        padding-top: 0;
        margin-bottom: 0;
        margin-right: 82px;
    }
    .footer-mouse{
        margin-right: 5px;
    }
    .footer-name h1{
        font-size: 13px;
        line-height: 16px;
    }
    .footer-name p{
        font-size: 11px;
        line-height: 13px;
    }
    .footer-menu{
        width: 366px;
        margin-bottom: 0;
    }
    .footer-menu p{
        font-size: 12px;
        line-height: 15px;
        margin-right: 29px;
    }
    .footer-arrow{
        display: block;
        margin-left: 62px;
    }
    .footer-arrow1{
        display: none;
    }
    .footer-h1{
        width: 135px;
        font-size: 13px;
        line-height: 16px;
        margin-left: 74px;
        margin-bottom: 0;
    }
    .footer-btn{
        width: 130px;
        height: 30px;
        margin-left: 88px;
    }
}