.container{
  padding: 0px 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
      width: 546px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 738px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 962px;
  }
}

@media (min-width: 1200px) {
  
  .container {
      width: 1170px;
  }
}