.container{
  padding: 0px 15px;
  margin: 0 auto;
}
.appBack{
  overflow: hidden;
}
@media (max-width: 576px) {
  .Third,.Second,.secondSlides{
    display: none;
  }
  .third-slider,.secondSlide{
    display: block;
  }
  
}
@media (min-width: 576px) {
  .container {
      width: 546px;
  }
  .Third,.Second,.secondSlide{
    display: none;
  }
  .third-slider,.secondSlides{
    display: block;
  }
}

@media (min-width: 768px) {
  .Third,.secondSlide,.secondSlides{
    display: none;
  }
  .container {
      width: 738px;
  }
  .third-slider,.Second{
    display: block;
  }
}

@media (min-width: 992px) {
  .container {
      width: 962px;
  }
}

@media (min-width: 1200px) {
  
  .container {
      width: 1170px;
  }
  .third-slider,.secondSlide,.secondSlides{
    display: none;
  }
  .Third,.Second{
    display: block;
  }
}